<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/media/jquery/jquery-1.7.2.js"></script>

    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0px; padding: 0px }
        .sidebar-nav {
            padding: 9px 0;
        }
        #map_canvas { height: 100% }
    </style>
    <link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <script type="text/javascript"
            src="https://maps.google.com/maps/api/js?sensor=false">


    </script>
    <script type="text/javascript">
        var markersArray = [];
        var alertCircles = {};
        var initialPoint;
        var map;

        function helpme() {

            $.ajax({
                url: '/alert',
                type: "POST",
                cache: false,
                async: false,
                dataType: "json",
                data: { lat: initialPoint.lat(), lng: initialPoint.lng()  },
                success: function(points) {
                    alert('Load was performed.'+points)
                    decode = jQuery.parseJSON(points)

                    pk = decode[0].pk;
                    lat_0 = decode[0].fields.lat;

                    alertCircles['alert'] = {
                        center: new google.maps.LatLng(decode[0].fields.lat, decode[0].fields.lng),
                        population: 50
                    };

                    var populationOptions = {
                        strokeColor: "#FF0000",
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: "#FF0000",
                        fillOpacity: 0.35,
                        map: map,
                        center: alertCircles['alert'].center,
                        radius: alertCircles['alert'].population
                    };

                    alertCircle = new google.maps.Circle(populationOptions);

                },
                error: function(error) {
                    alert('Error');
                }
            });
        }

        function initialize() {
            var myOptions = {
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var alertMarker;

            // Try W3C Geolocation (Preferred)
            if(navigator.geolocation) {
                browserSupportFlag = true;
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                    map.setCenter(initialLocation);

                    alertMarker = new google.maps.Marker({
                        position: latlng,
                        draggable:true,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        title:"You are here! (at least within a "+position.coords.accuracy+" meter radius)"
                    });

                    initialPoint = latlng;

                    //google.maps.event.addListener(map, 'click', function(event) {
                    //    addMarker(event.latLng);
                    //});

                    google.maps.event.addListener(alertMarker, 'click', toggleBounce);
                    google.maps.event.addListener(alertMarker, 'mouseup', updatePosition);



                }, function() {
                    handleNoGeolocation(browserSupportFlag);
                });
            }
            // Browser doesn't support Geolocation
            else {
                browserSupportFlag = false;
                handleNoGeolocation(browserSupportFlag);
            }

            function updatePosition() {
                initialPoint = alertMarker.position
                alert(initialPoint);
            }


            function toggleBounce() {
                if (alertMarker.getAnimation() != null) {
                    alertMarker.setAnimation(null);
                } else {
                    alertMarker.setAnimation(google.maps.Animation.BOUNCE);
                }
            }

            function addMarker(location) {
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
                markersArray.push(marker);
            }

            function clearOverlays() {
                if (markersArray) {
                    for (i in markersArray) {
                        markersArray[i].setMap(null);
                    }
                }
            }

            function handleNoGeolocation(errorFlag) {
                if (errorFlag == true) {
                    alert("Geolocation service failed.");
                } else {
                    alert("Your browser doesn't support geolocation. ");

                }
                map.setCenter(initialLocation);
            }
        }
    </script>
</head>
<body onload="initialize()">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse collapse">

                <ul class="nav">
                    <li class="active">    <span style="cursor: pointer" class="badge badge-important"   onclick="helpme()" >---Alert---</span>
                    </li>

                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>


<div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>